.copy {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000066;
	line-height: 16px;

}
.copy :link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000066;
	line-height: 16px;
	text-decoration: underline;
}
.copy :visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000066;
	line-height: 16px;
	text-decoration: underline;
}
.copy :hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #1760A8;
	line-height: 16px;
	text-decoration: underline;
}
.headline {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 16px;
	font-weight: bold;
	color: #93BEEE;
	text-align: left;
}
.headline_dunkel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 16px;
	font-weight: bold;
	color: #1760A8;
	text-align: left;
}
.infohead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000066;
	text-align: left;
	vertical-align: middle;
}
.wichtig {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #1760A8;
	line-height: 14px;
	font-weight: bold;
	letter-spacing: 1px;
}
.unwichtig {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 14px;
	color: 93BEEE;
}
.titel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
	color: #93BEEE;
}