/* DIALOG */

.dialog table {
    padding: 5px 0;
	font-size: 13px;
	font-family: sans-serif;
}

.prop {
    padding: 5px;
}
.prop .name {
    text-align: right;
    width: 15%;
    white-space: normal;
    /*white-space: nowrap;*/
}
.prop .value {
    text-align: left;
    width: 85%;
}