/*************/
/* the boxes */
/*************/

/* main box (content to background) and inner box (to be placed in outer box) */

.box {
 width: 100%;
 max-width: 1200px;
 display: table;
}

/* header and abstract */

.box .hd {
	background: transparent url(boxes/box.header.left.png) no-repeat 0px 0px;
}
.ibox .hd {
	background: transparent url(boxes/ibox.header.left.png) no-repeat 0px 0px;
}
.obox .hd {
	background: transparent url(boxes/obox.header.left.png) no-repeat 0px 0px;
}
.box .hd .c, .obox .hd .c, .box .ibox .hd .c {
	background: transparent url(boxes/box.header.right.png) no-repeat top right;
	font: normal 16px/20px Georgia,Times,serif;
	min-height: 20px;
	padding: 11px 30px 0px 30px;
	text-align: left;
	color: #4176b2;
}
.obox .hd .c {
	color: #B6B5AA;
	background: transparent url(boxes/obox.header.right.png) no-repeat top right;
}
.box .ibox .hd .c {
	background: transparent url(boxes/ibox.header.right.png) no-repeat top right;
	padding: 5px 20px 0px 20px;
}
.box .hd .c .controls, .obox .hd .c .controls, .ibox .hd .c .controls {
	float: right;
}
.box .hd .c .tabs, .obox .hd .c .tabs, .ibox .hd .c .tabs {
	margin-top: -1px;
	margin-left: -20px;
}
.box .hd .c a.open, .obox .hd .c a.open, .ibox .hd .c a.open {
	cursor: pointer;
	padding-left: 12px;
	line-height: 20px;
	background: transparent url(boxes/box.open.gif) no-repeat center right;
}
.box .hd .c a.close, .obox .hd .c a.close, .ibox .hd .c a.close {
	cursor: pointer;
	padding-left: 12px;
	line-height: 20px;
	background: transparent url(boxes/box.close.gif) no-repeat center right;
}
.box .hd .c a.open:hover, .obox .hd .c a.open:hover {
	cursor: pointer;
}
.box .hd .c a.close:hover, .obox .hd .c a.close:hover {
	cursor: pointer;
}

/* abstract */

.box .ab {
	background: transparent url(boxes/box.content.left.png) repeat-y 0px 0px;
}
.ibox .ab {
	background: transparent url(boxes/ibox.content.left.png) repeat-y 0px 0px;
}
.obox .ab {
	background: transparent url(boxes/obox.content.left.png) repeat-y 0px 0px;
}
.box .ab .c, .obox .ab .c, .box .ibox .ab .c {
	background: transparent url(boxes/box.content.right.png) repeat-y top right;
	padding: 1px 30px 1px 30px; /* padding 1px on top and bottom is important to avoid the collapsing margins! */
}
.obox .ab .c {
	background: transparent url(boxes/obox.content.right.png) repeat-y top right;
}
.box .ibox .ab .c {
	background: transparent url(boxes/ibox.content.right.png) repeat-y top right;
	padding: 1px 20px 1px 20px; /* padding 1px on top and bottom is important to avoid the collapsing margins! */
}
/* body and separator */

.box .bd, .box .bda, .box .bdb {
	background: transparent url(boxes/box.content.left.png) repeat-y 0px 0px;
}
.obox .bd, .obox .bda, .obox .bdb {
	background: transparent url(boxes/obox.content.left.png) repeat-y 0px 0px;
}
.box .ibox .bd, .box .ibox .bda, .box .ibox .bdb {
	background: transparent url(boxes/ibox.content.left.png) repeat-y 0px 0px;
}
.box .bd .c, .box .bdb .c {
	background: transparent url(boxes/box.content.right.png) repeat-y top right;
	padding: 1px 30px 1px 30px; /* padding 1px on top and bottom is important to avoid the collapsing margins! */
}
.obox .bd .c, .obox .bdb .c {
	color: darkgray;
	background: transparent url(boxes/obox.content.right.png) repeat-y top right;
	padding: 1px 30px 1px 30px; /* padding 1px on top and bottom is important to avoid the collapsing margins! */
}
.box .ibox .bd .c,  .box .ibox .bdb .c {
	background: transparent url(boxes/ibox.content.right.png) repeat-y top right;
	padding: 1px 20px 1px 20px; /* padding 1px on top and bottom is important to avoid the collapsing margins! */
}
.box .bdb .c, .obox .bdb .c {
	padding: 1px 11px 1px 11px; /* padding 1px on top and bottom is important to avoid the collapsing margins! */
}
.box .ibox .bdb .c {
	padding: 1px 1px 1px 1px; /* padding 1px on top and bottom is important to avoid the collapsing margins! */
}

/* separator */

.box .sp {
	background: transparent url(boxes/box.separator.left.png) repeat-y 0px 0px;
}
.ibox .sp {
	background: transparent url(boxes/ibox.separator.left.png) repeat-y 0px 0px;
}
.obox .sp {
	background: transparent url(boxes/obox.separator.left.png) repeat-y 0px 0px;
}
.box .sp .c, .obox .sp .c, .box .ibox .sp .c {
	background: transparent url(boxes/box.separator.right.png) repeat-y top right;
	height: 30px; min-height: 30px; max-height: 30px;
	padding: 1px 30px 1px 30px; /* padding 1px on top and bottom is important to avoid the collapsing margins! */
}
.obox .sp .c {
	background: transparent url(boxes/obox.separator.right.png) repeat-y top right;
}
.box .ibox .sp .c {
	background: transparent url(boxes/ibox.separator.right.png) repeat-y top right;
	padding: 1px 20px 1px 20px; /* padding 1px on top and bottom is important to avoid the collapsing margins! */
}


/* footer */
.box .ft {
	background: transparent url(boxes/box.footer.left.png) no-repeat bottom left;
}
.ibox .ft {
	background: transparent url(boxes/ibox.footer.left.png) no-repeat bottom left;
}
.obox .ft {
	background: transparent url(boxes/obox.footer.left.png) no-repeat bottom left;
}
.box .ft .c, .obox .ft .c, .box .ibox .ft .c {
	color: gray;
	background: transparent url(boxes/box.footer.right.png) no-repeat bottom right;
	clear: both;
	font: italic 11px/18px 'Lucida Grande', Geneva, Arial, Trebuchet, Verdana, Helvetica, sans-serif;
	height: 20px;
	padding: 0px 30px 11px 30px;
}
.obox .ft .c {
	background: transparent url(boxes/obox.footer.right.png) no-repeat bottom right;
}
.box .ibox .ft .c {
	background: transparent url(boxes/ibox.footer.right.png) no-repeat bottom right;
	padding: 0px 20px 5px 20px;
}
.box .ft .c .controls, .obox .ft .c .controls, .ibox .ft .c .controls {
	font: bold 11px/18px 'Lucida Grande', Geneva, Arial, Trebuchet, Verdana, Helvetica, sans-serif;
	float: right;
}

/* accordion boxes, inherited from accordion */
.box .bda .accordion1, .obox .bda .accordion1, .ibox .bda .accordion1 {
	overflow: hidden;
	border-bottom: 0;
}
.box .bda .c, .obox .bda .c, .ibox .bda .c {
	background: transparent url(boxes/box.content.right.png) repeat-y top right;
	padding: 1px 10px 1px 10px; /* padding 1px on top and bottom is important to avoid the collapsing margins! */
}
.obox .bda .c {
	background: transparent url(boxes/obox.content.right.png) repeat-y top right;
}
.ibox .bda .c {
	background: transparent url(boxes/box.content.right.png) repeat-y top right;
}
.box .bda .c dt, .obox .bda .c dt, .ibox .bda .c dt {
	padding-top: 10px;
	padding-bottom: 10px;
}
.box .bda .c dt b, .obox .bda .c dt b, .ibox .bda .c dt b {
	font: normal 13px/20px Georgia,Times,serif;
}
.box .bda .c dt, .obox .bda .c dt, .ibox .bda .c dt {
	background: transparent url(accordion/tab.active.background.png) repeat-x top left;
}
* html .box .bda .c dt, * html .obox .bda .c dt, * html .ibox .bda .c dt {
	background: transparent url(accordion/tab.active.background.png) repeat-x left 1px;;
}
